body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(235, 255, 215);
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 50%;
    margin-top: 50px;
}

.calculator {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: black;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.btn {
    background-color: white;
    border: 1px solid orangered;
    color: black;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    margin: 10px;
}

.btn:hover {
    background-color: #b7b6b6;
}
#equals{
    background-color: orangered;
}
#equals:hover {
    background-color: rgb(220, 61, 3);
}